.blog-header{
    box-shadow: 0 2px 8px #f0f1f2;
    &__brand {
        float: left;
        font-size: 1.5rem;
        a{
            color:rgba(0,0,0,0.65);
            font-weight: bold;
        }
    }
}
#logo {
    overflow: hidden;
    padding-left: 40px;
    float: left;
    height: 64px;
    line-height: 64px;
    text-decoration: none;
    white-space: nowrap;
}
#nav{
    border: 0;
    float: right;
    &.ant-menu-horizontal > .ant-menu-item {
        height: 64px;
        line-height: 60px;
        min-width: 72px;
        border-top: 2px solid transparent;
        border-bottom: 2px solid transparent;
        &:hover {
            border-top: 2px solid #1890ff;
        }
    }
}
#loginBtn{
    float: right;
    padding: 0 40px;
    height: 64px;
    line-height: 60px;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
}
.blog-body{
   
}
